KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/asm/gdt_flush.o \
$(ARCHDIR)/asm/idt_flush.o \
$(ARCHDIR)/asm/irq.o \
$(ARCHDIR)/asm/isr.o \
$(ARCHDIR)/sysio/inportb.o \
$(ARCHDIR)/sysio/inportw.o \
$(ARCHDIR)/sysio/outportb.o \
